.github/copilot-instructions.md
.github/chatmodes/Planning.chatmode.md
API/actors_manager.lua
API/attributes.lua
API/auto_play.lua
API/callbacks.lua
API/cast_spell.lua
API/classes.lua
API/colors.lua
API/console.lua
API/debug.lua
API/evade.lua
API/global_functions.lua
API/graphics.lua
API/loot_manager.lua
API/menu.lua
API/orbwalker.lua
API/pathfinder.lua
API/prediction.lua
API/target_selector.lua
API/utility.lua
API/vec2.lua
API/vec3.lua
API/world.lua
